@model List<ResultAgencyDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Acenta Listesi</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <a href="/Agency/Create" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-plus"></i> Yeni Acenta
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resim</th>
                            <th>İsim</th>
                            <th>Başlık</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Sosyal Medya</th>
                            <th>Sosyal Medya</th>
                            <th>Sosyal Medya</th>
                            <th>Durum</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agn in Model)
                        {
                            <tr>
                                <td>@agn.Id</td>
                                <td><img class="img-fluid" src="~/img/@agn.ImageUrl" alt="Image" style="width:50%"></td>
                                <td>@agn.Name</td>
                                <td>@agn.Title</td>
                                <td>@agn.Email</td>
                                <td>@agn.Phone</td>
                                <td>@agn.Facebook</td>
                                <td>@agn.Twitter</td>
                                <td>@agn.Instagram</td>
                                <td>
                                    @if (agn.Status == true)
                                    {
                                        <a href="/Agency/StatusChange?id=@agn.Id" class="btn btn-outline-warning">Pasif Et</a>
                                    }
                                    else
                                    {
                                        <a href="/Agency/StatusChange?id=@agn.Id" class="btn btn-outline-success">Aktif Et</a>
                                    }
                                </td>


                                <td><a href="/Agency/Edit?id=@agn.Id" class="btn btn-outline-warning">Güncelle</a></td>
                                <td><a asp-controller="Agency" asp-action="Delete" asp-route-id="@agn.Id" class="btn btn-outline-danger">Sil</a></td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

