@model ResultAgencyDTO
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Agency/Views/LayoutAgency/Index.cshtml";
}
<link href="~/admin/dist/css/agencyprofile.css" rel="stylesheet" />

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="~/img/@Model.ImageUrl" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            @Model.Name
                        </h5>
                        <h6>
                            @Model.Title
                        </h6>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active">Hakkımda</a>
                            </li>
                        </ul>
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Email</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Telefon</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Phone</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Facebook</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Facebook</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Twitter</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Twitter</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Instagram</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Instagram</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="/Advert/EditProfile?id=@Model.Id" class="profile-edit-btn">Profil Düzenle</a>
                </div>
            </div>
           
        </form>

    </div>
</div>
