@model UpdateProductDetailDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">İlan Güncelleme</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-controller="Product" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ProductId" value="@Model.Product.Id" />
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Product.Title"></label>
                                <input asp-for="Product.Title" class="form-control" />
                                <span asp-validation-for="Product.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.Price"></label>
                                <input asp-for="Product.Price" class="form-control" />
                                <span asp-validation-for="Product.Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.CityId"></label>
                                <select class="form-control select2" style="width: 100%;" asp-for="Product.CityId">
                                    <option value="">-- İl Seçiniz --</option>
                                    @foreach (var item in ViewBag.Cities) // ViewBag ya da Model'den gelen veriye göre düzenleyin
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.District"></label>
                                <select class="form-control select2" style="width: 100%;" asp-for="Product.District">
                                    <option value="@Model.Product.District">@Model.Product.District</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.Address"></label>
                                <textarea class="form-control" rows="3" placeholder="Adres Giriniz.." asp-for="@Model.Product.Address">@Model.Product.Address</textarea>
                                <span asp-validation-for="Product.Address" class="text-danger"></span>
                            </div>                           

                            <label asp-for="Product.Type"></label>
                            <div class="d-flex">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Product.Type" id="radioSatilik" value="Satılık" @(Model.Product.Type == "Satılık" ? "checked" : "")>
                                    <label class="form-check-label" for="radioSatilik">Satılık</label>
                                </div>
                                <div class="form-check ml-3">
                                    <input class="form-check-input" type="radio" name="Product.Type" id="radioKiralik" value="Kiralık" @(Model.Product.Type == "Kiralık" ? "checked" : "")>
                                    <label class="form-check-label" for="radioKiralik">Kiralık</label>
                                </div>
                            </div>
                            <label asp-for="Product.IsPopular"></label>
                            <div class="d-flex">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Product.IsPopular" value="true" @(Model.Product.IsPopular==true ? "checked":"")>
                                    <label class="form-check-label">Popüler</label>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label>ProductType</label>
                                <select class="form-control select2" style="width: 100%;" asp-for="Product.ProductTypeId">
                                    <option value="">-- Kategori Seçiniz --</option>
                                    @foreach (var item in ViewBag.ProductTypes) // ViewBag ya da Model'den gelen veriye göre düzenleyin
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Product.ProductTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.AgencyId"></label>
                                <select class="form-control select2" style="width: 100%;" asp-for="Product.AgencyId">
                                    <option value="">-- Acenta Seçiniz --</option>
                                    @foreach (var item in ViewBag.Agencies) // ViewBag ya da Model'den gelen veriye göre düzenleyin
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Product.AgencyId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.CoverImage"></label><br />
                                <img id="previewImage" src="~/img/@Model.Product.CoverImage" class="card-img-top" alt="..." style="max-width:100%">
                            </div>
                            <div class="form-group">
                                <input type="file" id="imageInput" name="file" value="" accept="image/*" onchange="updateCard()" />
                                <span asp-validation-for="Product.CoverImage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">                           
                          <div class="row">
                              <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="Size"></label>
                                        <input asp-for="Size" class="form-control" />
                                        <span asp-validation-for="Size" class="text-danger"></span>
                                    </div>
                              </div>
                               <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="BathCount"></label>
                                        <input asp-for="BathCount" class="form-control" />
                                        <span asp-validation-for="BathCount" class="text-danger"></span>
                                    </div>
                              </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="BedRoomCount"></label>
                                        <input asp-for="BedRoomCount" class="form-control" />
                                        <span asp-validation-for="BedRoomCount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="RoomCount"></label>
                                        <input asp-for="RoomCount" class="form-control" />
                                        <span asp-validation-for="RoomCount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="GarageSize"></label>
                                        <input asp-for="GarageSize" class="form-control" />
                                        <span asp-validation-for="GarageSize" class="text-danger"></span>
                                    </div>
                                </div>                              
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="BuildYear"></label>
                                        <input asp-for="BuildYear" class="form-control" />
                                        <span asp-validation-for="BuildYear" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="PublishDate"></label>
                                        <input type="datetime" name="PublishDate" value="@DateTime.Now" disabled class="form-control" />
                                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Description"></label>
                                       <textarea name="Description" class="form-control">@Model.Description</textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Location"></label>
                                        <textarea name="Location" class="form-control">@Model.Location</textarea>
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="VideoUrl"></label>
                                        <textarea name="VideoUrl" class="form-control">@Model.VideoUrl</textarea>
                                        <span asp-validation-for="VideoUrl" class="text-danger"></span>
                                    </div>
                                </div>
                               
                                    <div class="form-group">
                                        <label>Image</label><br />
                                        <div class="row">
                                    @foreach (var image in Model.Images)
                                    {
                                        <div class="col-6">
                                        <img id="previewImage" src="~/img/@image.Url" class="card-img-top" alt="..." width="100%">
                                        </div>
                                    }
                                    </div>
                                    </div>
                              
                              

                                <div class="form-group">
                                    <input type="file" name="files" accept="image/*" multiple />
                                    <span asp-validation-for="Images" class="text-danger"></span>
                                </div>


                              
                          </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->

    </div>
</div>

<script>
    $(document).ready(function () {
        // Şehir seçildiğinde ilçelerin dinamik olarak yüklenmesi
        $('#Product_CityId').change(function () {            
            var cityId = $(this).val(); // Seçilen şehrin Id'si
            // AJAX çağrısı
            $.ajax({
                url: '/City/GetDistricts',
                type: 'GET',
                data: { "cityId": cityId },
                success: function (data) {
                    // İlçeleri seçim kutusuna ekleme
                    var districtsSelect = $('#Product_District');
                    districtsSelect.empty(); // Önceki ilçeleri temizle
                    $.each(data, function (index, district) {
                        districtsSelect.append($('<option></option>').val(district.name).text(district.name));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
    function updateCard() {
        var input = document.getElementById('imageInput');
        var preview = document.getElementById('previewImage');
        var file = input.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>



