@model List<ResultProductDTO>
<!-- Property DiscountOfDay Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class=" text-center text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Günün Favori İlanları</h1>
                    <p>
                        "Günün Favori İlanları: Hayalinizdeki evi bulmanız için seçilmiş en özel ve cazip teklifler burada!"
                    </p>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href=""><img class="img-fluid" src="~/RealEstate/img/@item.CoverImage" alt=""></a>
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">@item.Type</div>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">@item.ProductType.Name</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">@item.Price.ToString("c")</h5>
                                    <a class="d-block h5 mb-2" href=""> @item.Title</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.Address, @item.District, @item.City.Name</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>100e m2</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>2 Yatak</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>3 Banyo</small>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property DiscountOfDay End -->