@model UpdateWhoWeAreDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <!-- form start -->
            <form asp-controller="WhoWeAre" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="Image" id="Image" value="@Model.Image" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            @for (int i = 0; i < Model.Employments.Count; i++)
                            {
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" name="Employments[@i].Status" value="true" @(Model.Employments[i].Status ? "checked" : "")>
                                    <input asp-for="@Model.Employments[i].Title" class="form-control" />
                                </div>
                            }

                           
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Güncelle</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Image"></label><br />
                                <img id="previewImage" src="~/img/@Model.Image" class="card-img-top" alt="..." style="max-width:100%">
                            </div>
                            <div class="form-group">
                                <input type="file" id="imageInput" name="file" value="@Model.Image" accept="image/*" onchange="updateCard()" />
                               
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
            </form>
        </div>
        <!-- /.card -->

    </div>
</div>

<script>
    function updateCard() {
        var input = document.getElementById('imageInput');
        var preview = document.getElementById('previewImage');
        var file = input.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
   
</script>

