@model List<ResultProductDTO>
@{
    
}
<div class="row g-4">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href="/Home/ProductDetail/@item.Id"><img class="img-fluid" src="~/img/@item.CoverImage" alt=""></a>
                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">@item.Type</div>
                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">@item.ProductType.Name</div>
                </div>
                <div class="p-4 pb-0">
                    <h5 class="text-primary mb-3">$@item.Price</h5>
                    <a class="d-block h5 mb-2" href="/Home/ProductDetail/@item.Id">@item.Title</a>
                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.Address, @item.District, İstanbul</p>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.Route == null)
    {
        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
            <a class="btn btn-primary py-3 px-5" href="/Home/ProductList">Daha Fazla İlan</a>
        </div>
    }
  
</div>