@model UpdateSliderDTO
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <!-- form start -->
            <form asp-controller="Slider" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="ImageUrl1" value="@Model.ImageUrl1" />
                <input type="hidden" name="ImageUrl2" value="@Model.ImageUrl2" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>                          
                        
                            <div class="form-group">
                                <label asp-for="ImageUrl1"></label><br />
                                <img id="previewImage1" src="~/img/@Model.ImageUrl1" class="card-img-top" alt="..." style="max-width:100%">
                            </div>
                            <div class="form-group">
                                <input type="file" id="imageInput1" name="file1" value="@Model.ImageUrl1" accept="image/*" onchange="updateCard(1)" />
                                <span asp-validation-for="ImageUrl1" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ImageUrl2"></label><br />
                                <img id="previewImage2" src="~/img/@Model.ImageUrl2" class="card-img-top" alt="..." style="max-width:100%">
                            </div>
                            <div class="form-group">
                                <input type="file" id="imageInput2" name="file2" value="@Model.ImageUrl2" accept="image/*" onchange="updateCard(2)" />
                                <span asp-validation-for="ImageUrl2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Page"></label>
                                <input asp-for="Page" class="form-control" />
                                <span asp-validation-for="Page" class="text-danger"></span>
                            </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->

    </div>
</div>

<script>
    $(document).ready(function () {
        // Şehir seçildiğinde ilçelerin dinamik olarak yüklenmesi
        $('#CityId').change(function () {
            var cityId = $(this).val(); // Seçilen şehrin Id'si
            // AJAX çağrısı
            $.ajax({
                url: '/City/GetDistricts',
                type: 'GET',
                data: { "cityId": cityId },
                success: function (data) {
                    // İlçeleri seçim kutusuna ekleme
                    var districtsSelect = $('#District');
                    districtsSelect.empty(); // Önceki ilçeleri temizle
                    $.each(data, function (index, district) {
                        districtsSelect.append($('<option></option>').val(district.name).text(district.name));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
    function updateCard(i) {
        var input = document.getElementById('imageInput'+i);
        var preview = document.getElementById('previewImage'+i);
        var file = input.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
        }
        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>

